body{
    background-image: url(a.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
.container{
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    padding: 20px;
    max-width: 400px;
    margin: 20px auto;
}
.button input{
    padding: 14px;
    padding-right:70px;
    border-radius: 4px;
    border:1px ;
    background-color: rgb(236, 188, 238);
    margin: 20px auto;

}
.zuh input{
    padding: 16px;
    background-color: rgb(239, 243, 245);
    border:1px ;
    padding-left: 190px ;
    text-align: right;
    border-radius: 4px;
}
.zuh {

    padding:12px;

}
